<html>
    <head>
        <title>Layout 2</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <scripts src="scripts/index.js"></scripts>
    </head>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div clas="navbar-header">
                <a class="navbar-brand" href="#">Larkyo</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <img class="header-image" src="...">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div clas="col-md-12">
                <div class="navbar navbar-default">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">My Details</a></li>
                            <li class="active"><a href="#">Join Team</a></li>
                            <li><a href="#">Create Team</a></li>
                            <li><a href="#">Create Plan</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Team Search
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">From:</label>
                                                <div class="col-md-7">
                                                    <input id="availableFrom" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">To:</label>
                                                <div class="col-md-7">
                                                    <input id="availableTo" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Origin:</label>
                                                <div class="col-md-7">
                                                    <input id="origin" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Destination:</label>
                                                <div class="col-md-7">
                                                    <input id="destination" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Name:</label>
                                                <div class="col-md-7">
                                                    <input id="name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Desired Team Size:</label>
                                                <div class="col-md-7">
                                                    <input id="name" class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pull-right">
                                    <button class="btn btn-primary">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-result">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h2>Queen's Birthday Outing</h2>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label class="text-right">Desired Size:</label>
                                                    <p class="form-control-static">4  ~ 8 People</p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-right">Looking for:</label>
                                                    <p class="form-control-static">Photographer, Tour Guide</p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="text-right">Trips Planned:</label>
                                                    <p class="form-control-static">Yes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Current Members: (5)</h4>
                                            <div>
                                                <img src="..." class="img-circle" alt="..." width="64" height="64">
                                                <img src="..." class="img-circle" alt="..." width="64" height="64">
                                                <img src="..." class="img-circle" alt="..." width="64" height="64">
                                                <img src="..." class="img-circle" alt="..." width="64" height="64">
                                                <img src="..." class="img-circle" alt="..." width="64" height="64">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h4>Upcoming Trip:</h4>
                                            <div class="media">
                                                  <div class="media-left">
                                                    <a href="#">
                                                      <img class="media-object" src="..." alt="..." width="64" height="64">
                                                    </a>
                                                  </div>
                                                  <div class="media-body">
                                                      <h4 class="media-heading">4 Day Roadtrip from Auckland to Wellington!</h4>
                                                      <p>
                                                          June-24th ~ June 28th
                                                      </p>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <button class="btn btn-primary pull-right">
                                            Join
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                My Availability
                            </div>
                            <div class="panel-body">
                                &lt;Shows a mini calendar&gt;
                                <hr/>
                                &lt;Shows a list of upcoming trips&gt;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                My Team Requests
                            </div>
                            <div class="panel-body">
                                &lt;Shows a wish list of available times and destinations&gt;
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>Times</td>
                                            <td>Destinations</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>10/13~10/17</td>
                                            <td>Anywhere</td>
                                        </tr>
                                        <tr>
                                            <td>11/28~12/04</td>
                                            <td>Tauranga</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                &lt;Shows a list of sent join team requests&gt;
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                My Teams
                            </div>
                            <div class="panel-body">
                                &lt;Shows a list of teams already joined&gt;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>