.searchNavbar{
    margin-top: 20px;
}
.teamPage{
    width: 800px;
    margin: 0 auto;
}
.teamsDisplay{
    background-color: rgb(250,250,250);
    border:solid 1px rgb(150,150,150);
    padding-top:5px;
    padding-left:20px;
    padding-right:20px;
}
.eachTeam{
    border-bottom:solid 1px rgb(220,220,220);
}
.teamName{
    font-weight:bold;
    float:left;
    color:rgb(140,140,140);
}
.teamId{
    float:left;
    margin-left:30px;
    color:rgb(140,140,140);

}
.links{
    float:right;
    height:30px;
}
.teamDescription{
    clear:both;
    color:rgb(180,180,180);
}